body{
    font-family: 'Poppins', sans-serif;
}

.headsing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    background-color: lightskyblue;
}
.section-t{
    width: 485px;
    height: 230px;
    margin-top: 400px;
    margin-left: 300px;  
}

h1{
    font-size: 90px;

}
.fortawsome{
    background-color: tomato;
    border-radius: 10px;
    font-size: 60px
    
}
/* first 3 player ------------------------------------
---------------------------------- */

/* .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.playerone-img img{
    width: 330px;
    height: 334px; 
}

.player1{
    width: 330px;
    height: 474px;
    border: 3px solid red;
    margin-bottom: 30px;
}
.player2{
    width: 330px;
    height: 474px;
    border: 3px solid red;
    margin-bottom: 30px;

}
.player3{
    width: 330px;
    height: 474px;
    border: 3px solid red;
    margin-bottom: 30px;

}
 .player-info{
    display: grid;
    align-items: center;
    justify-content: space-between;
}

 .players{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;

}
.player-img img{
    width: 330px;
    height: 334px;
    
}
.player-1-info{
   display: grid;
   align-items: center;
   justify-content:space-between;

    
} */


.player123{
    display: flex;
    justify-content: center;
}

.first-3-player{
    width: 530px;
    height: 674px;
    border: 20px solid whitesmoke;
    border-radius: 18px;
    margin-top: 100px;
    margin-right: 30px;
    margin-bottom: 30px;

    }

.first-three-player-img img{
    width: 530px;
    height: 434px;
    

}
.first-player-info{
    width: 330px;
    height: 120px;

}

/* secend part -------------------------
---------------------------
--------------- */
.player456{
    display: flex;
    justify-content: center;
}

.secend-3-player{
    width: 530px;
    height: 674px;
    border: 20px solid whitesmoke;
    border-radius: 18px;
    margin-right: 30px;
    margin-bottom: 30px;

    }

.forth-player-img img{
    width: 530px;
    height: 434px;
    

}
.forth-player-info{
    width: 330px;
    height: 120px;

}

/* threed part -------------
------------------------
 */
 .player789{
     display: flex;
     justify-content: center;
 }
 .threed-3-player{
    width: 530px;
    height: 674px;
    border: 20px solid  whitesmoke;
    border-radius: 18px;
    margin-right: 30px;
    margin-bottom: 30px;



 }
 .threed-player-img img{
    width: 530px;
    height: 434px;
    

 }
.threed-player-info{
    width: 330px;
    height: 120px;


}

.footer{
    display: grid;
    text-align: center;
}